@font-face {
    font-family: 'xmas-holiday';
    src: url('fonts/MountainsofChristmas.ttf');
}

.main-wrap {
    overflow: hidden;
    position: relative;
}

.page-bg {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.main-content {
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
    position: relative;
}

.header-title {
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    font-family: 'xmas-holiday';
    fallback: 'sans-serif';
    color: darkred;
}

.header {
    text-align: center;
}

.header-title-page {
    font-weight: bold;
    text-align: left;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: underline;
    text-decoration-color: darkred;
}

.header-menu {
    padding-top: 2px;
}

.header-menu ul {
    list-style: none;
}

.header-menu a {
    color: inherit;
    text-decoration: inherit;
}

.header-menu li {
    display: inline-block;
    font-size: large;
    margin-right: 1em;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.header-menu li::after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    transition: 400ms;
    background: darkred;
}

.header-menu li:hover:after {
    width: 100%;
}

.car-img {
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transition: 0.6s
}

.car-img:hover {
    opacity: 0.5;
}

.car-wrap .car-label {
    visibility: hidden;
    position: absolute;
    top: 10%;
    left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
    font-size: xx-large;
    transition: 0.3s;
    text-decoration: underline;
    text-decoration-color: darkred;
}

.car-wrap:hover .car-label {
    visibility: visible;
}

#footer {
    background-color: black;
    margin: 0px;
    padding: 1em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#footer a {
    color: white
}

#footer ul {
    list-style: none;
    padding: 0;
}

.home-ico {
    float: left;
    margin-left: 20%;
    margin-top: 5px;
}